h1 {
    color: #0000ff;
}

.left,.right{
    background-color: ghostwhite;
    height: 270px;
    margin: 5%;
    border-radius: 10px;
}
.left{
    float: left;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    margin-right: auto;
}
.right {
    position: relative;
    float: right;
    width: 20%;
    margin-left: auto;
    padding: 10px;
}
.product{
    display: none;
}
.is-bought .minus{
        visibility: hidden;
}
.is-bought .plus{
    visibility: hidden;
}
.is-bought .text1{
    text-decoration: line-through;
}
.is-bought .x{
    display: none;
}
.is-bought .add{
    display: none;
}
.is-bought .nomer{
    text-decoration: line-through;
}
.is-bought .un-add{
    display: inline;
}

.searchbar input,button{
    box-sizing: border-box;
    height: 30px;
    vertical-align: middle;
}
.search{
    width: 80%;
    border: 1px solid lightslategray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    overflow: scroll;
    margin-top: 1%;
    margin-left: 1%;
}
.button{
    width: 18%;
    height: 30px;
    text-align: center;
    border: none;
    background-color: dodgerblue;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: large;
    color: white;
    padding: 1%;
    vertical-align: middle;
    margin-right: 1%;
    margin-top: 1%;
}
body{
    background-color: lightgrey;
}
.naming{
    display: inline-block;
    width: 30%;
    background-color: dodgerblue;

}
.leftcollomn{
    display: inline-block;
    width: 28%;
    background-color: ghostwhite;
    font-family: Tahoma;
    border: none;
    padding: 1%;
    height: 30px;
    vertical-align: middle;
}
.leftcollomn .text1{
    margin: 4%;
    padding-left: 5px;
}
.leftcollomn .edit{
    display: none;
    margin: 4%;
    padding-left: 5px;
    padding-right: 5px;
}
.middlecollomn{
    position: relative;
    display: inline-block;
    width: 30%;
    background-color: ghostwhite;
    border: none;
    /*margin-left: 5%;*/
    /*margin-right: 10%;*/
    box-sizing: border-box;
    padding: 1%;
    /*padding-left: 4%;*/
    /*padding-right: 4%;*/
    height: 30px;
    vertical-align: middle;
}
.rightcollomn{
    display: inline-block;
    width: 28%;
    background-color: ghostwhite;
    border: none;
    height: 30px;
    padding: 1%;
    vertical-align: middle;
}
.minus{
    display: inline-block;
    position: absolute;
    left: 0;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #DB2828;
}
.nomer{
    display: inline-block;
    position: absolute;
    padding: 5px;
    left: 40%;
    /*margin: 0 auto;*/
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    border-radius: 20%;
    background-color: #E8E8E8;
}
.plus{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #21BA45;
    display: inline-block;
}
.add{
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 30px;
    text-align: center;
    border: none;
    margin-left: 3%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E8E8E8;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
}
.un-add{
    display: none;
    position: absolute;
    width: 90px;
    height: 30px;
    text-align: center;
    border: none;
    margin-left: 3%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E8E8E8;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
}
.x{
    display: inline-block;
    position: absolute;
    width: 30px;
    margin-left: 13%;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    background-color: #DB2828;
}
.Zalishok{
    text-align: center;
    /*margin-left: 20%;*/
}
.kupleno {
    position: absolute;
    margin-top: 100px;
    margin-left: 32px;
}
.tomato{
    display: inline-block;
    position: absolute;
    padding: 5px;
    left: 10%;
    margin-top: 30px;
    width: 80px;
    height: 20px;
    text-align: left;
    border: none;
    border-radius: 10px;
    background-color: #E8E8E8;
}
.amount{
    /*display: inline-block;*/
    position: absolute;
    /*padding: 5px;*/
    left: 30%;
    margin-left: 40%;
    width: 16px;
    height: 16px;
    text-align: center;
    border: none;
    border-radius: 100%;
    background-color: orange;
}
.badge{
    position: fixed;
    left: 5%;
    background-color: #5000ff;
    width: 80px;
    height: 100px;
    bottom: -70px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    transition:	all	600ms ease-out;
    /*transition:	all	3s ease-out;*/

    text-align: center;
    color: white;
    padding: 1%;
    padding-top: 2%;
    font-family: Tahoma;
    /*padding-top: 10%;*/
    text-decoration: none;
    box-shadow: 0 3px 0 #4000bb inset;
}
.badge:hover{
    background-color: #9000ff;
    bottom: 0px;
    transition:	all	600ms ease-out;
    /*transition:	all	3s ease-out;*/

    /*transform: rotate(1080deg);*/
    color: black;
    box-shadow: 0 3px 0 #8000bb inset;

}
.author{
    text-align: center;
    color: black;
    padding: 1%;
    font-family: Tahoma;
    font-size: small;
    padding-top: 30%;
    /*transform: rotate(90deg);*/
}
[data-tooltip] {
    /*position: relative;*/
    z-index: 2;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    /*display: none;*/
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
@media (max-width: 700px) {
    .left{
        width: 97%;
        margin: auto;
        margin-bottom: 2%;
    }
    .right{

        width: 97%;
        margin: auto;
        margin-top: 2%;
    }
}
@media print {
    .badge{
        background-color: white;
        border: solid black;
    }
    .author{
        /*Put higher author div*/
        transform: translateY(-30px);
    }
    .onprint{
        /*Remove "Buy List" div*/
        display: none;
    }
}